@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary: #AEC9FF;
    --primary-dark: #7AA8FF;
    --accent: #D9E4FF;
    --surface: #F7F9FC;
    --text: #1A1A1A;
  }

  body {
    background-attachment: fixed; 
    font-family: Inter, sans-serif;
    overflow: auto;
    overflow-x: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
